* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(12, 12, 12);
  font-weight: bold;
}
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(images/banner.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 40px;
  background: white;
  position: sticky;
}
.logo h1 {
  font-size: 50px;
  font-weight: 200px;
  color: rgb(255, 0, 0);
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
  font-size: 40px;
}
a {
  text-decoration: none;
}
